/*tab样式表*/
QTabWidget::tab-bar {
    alignment: left;
}
QTabBar::tab:hover {
    background: #a33a3f;
}
QTabBar::tab:selected {
    border-color: #3a3a3f;
    color: #dcdde4;
    border-bottom-color: #dcdde4;
}
QTabBar::tab {
    background: #000ff000;
    border: none;
    border-bottom: 2px solid #3c3e42;
    min-width: 10px;
    margin-right: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #86a6e6;
}

/*# 按钮样式表*/
border-style:none;
padding:11px;
border-radius:3px;
background:transparent;
border-bottom: 2px solid #3a3a3f;min-width: 10px;margin-right: 8px;
padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:5px;color:#186a6e;
border-top:2px solid #3a3a3f;
border-right:2px solid #3a3a3f;
border-left:2px solid #3a3a3f;
border-color: qconicalgradient(cx:0.5, cy:0.5, angle:0, stop:0 rgba(50, 16, 104, 255), stop:1 rgba(255, 255, 255, 255));
font: 13pt ".SF NS Text";

/*网易渐变样式表*/
border-style:none;
padding:11px;
border-radius:3px;
background:transparent;
border-bottom:2px solid #3a3a3f;
border-top:2px solid #3a3a3f;
border-right:2px solid #3a3a3f;
border-left:2px solid #3a3a3f;
border-color: qconicalgradient(cx:0.5, cy:0.5, angle:0, stop:0 rgba(50, 16, 104, 255), stop:1 rgba(255, 255, 255, 255));


QTabWidget::pane /* The tab widget frame */
{
	top:20px;
	border:none;

}

QTabBar::tab:first		/*第一个页面上面的标签tab*/
{
	color:#333333;
	background:transparent;

	font-family:"微软雅黑";
	font-size:14px;

	padding-left:-9px;
	padding-right:-9px;
	width:105px;
	height:30px;
	margin-left:0px;
	margin-right:40px;
}

QTabBar::tab:last		/*最后一个页面上面的标签tab*/
{
	color:#333333;
	background:transparent;

	font-family:"微软雅黑";
	font-size:14px;

	padding-left:-9px;
	padding-right:-9px;
	width:75px;
	height:30px;
	margin-left:0px;
	margin-right:40px;
}

QTabBar::tab:selected, QTabBar::tab:hover
{
	color:#618BE5;
	background:transparent;

	font-family:"微软雅黑";
	font-size:14px;

	border-bottom:2px solid #618BE5;
}

QTabWidget::tab-bar {  		/*整个最上面的tab栏*/
    alignment: left;
	top:10px;
	left:30px;

}


#detailWgt, #appealReasonWgt	/*设置下面的单个widget没有边框*/
{
	border:none;
}

QTabBar::tab {min-width:100px;color: white;background-color:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #eeeeee, stop: 1 gray);border: 2px solid;border-top-left-radius: 10px;border-top-right-radius: 10px;padding:5px;
}
QTabBar::tab:!selected {margin-top: 5px;}
QTabBar::tab:selected {color: blue;};


QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid #C2C7CB;
    position: absolute;
    top: -0.5em;
    border-image: url(:/pic/箭头.png);
}

QTabWidget::tab-bar {
    alignment: center;
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 2px solid #C4C4C3;
    border-bottom-color: #C2C7CB; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

/*qq渐变样式表*/
border-style:none;
padding:11px;
border-radius:3px;
background:transparent;
border-bottom:2px solid #3a3a3f;
border-top:2px solid #3a3a3f;
border-right:2px solid #3a3a3f;
border-left:2px solid #3a3a3f;
border-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(9, 41, 4, 255), stop:0.085 rgba(2, 79, 0, 255), stop:0.19 rgba(50, 147, 22, 255), stop:0.275 rgba(236, 191, 49, 255), stop:0.39 rgba(243, 61, 34, 255), stop:0.555 rgba(135, 81, 60, 255), stop:0.667 rgba(121, 75, 255, 255), stop:0.825 rgba(164, 255, 244, 255), stop:0.885 rgba(104, 222, 71, 255), stop:1 rgba(93, 128, 0, 255));
